{:duct.handler/honeysql-postgres           [:duct/handler]
 :duct.handler.honeysql-postgres/query     [:duct.handler/honeysql-postgres]
 :duct.handler.honeysql-postgres/query-one [:duct.handler/honeysql-postgres]
 :duct.handler.honeysql-postgres/insert    [:duct.handler/honeysql-postgres]
 :duct.handler.honeysql-postgres/execute   [:duct.handler/honeysql-postgres]}
