{:duct.handler/honeysql           [:duct/handler]
 :duct.handler.honeysql/query     [:duct.handler/honeysql]
 :duct.handler.honeysql/query-one [:duct.handler/honeysql]
 :duct.handler.honeysql/insert    [:duct.handler/honeysql]
 :duct.handler.honeysql/execute   [:duct.handler/honeysql]}
